Django==5.2.2
djangorestframework==3.16.0
django-oauth-toolkit==3.0.1
django-cors-headers==4.7.0
django-extensions==4.1
django-celery-beat==2.8.1
django-timezone-field==7.1
django-spaghetti-and-meatballs==0.4.2
celery==5.5.3
redis==6.2.0
psycopg2-binary==2.9.10
pandas==2.3.0
numpy==2.2.6
cosmpy==0.11.1
selenium==4.33.0
webdriver-manager==4.0.2
reportlab==4.4.1
python-dotenv==1.1.1
python-crontab==3.2.0
PyPDF2==3.0.1
google-api-python-client==2.171.0
google-auth==2.40.2
PyJWT==2.10.1
pillow==11.3.0
requests==2.32.4
pytz==2025.2
gunicorn==23.0.0